/*****************/
/* CreateMenu.js */
/*****************/

.master-container {
    background-color: var(--main-color);
    border-radius: var(--border-radius-medium);
}

.top-panel {
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 10px;
}

.title h1 {
    color: var(--main-txt-color__bright);
    margin-bottom: 10px;
}

.date {
    align-self: center;
    color: var(--main-txt-color__bright);
}

.top-panel-btns {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-around;
    width: 100%;
}

.btn--toggle-view,
.btn--open-modal,
.btn--save-menu,
.btn--print-menu {
    background-color: var(--main-txt-color__bright);
    border-radius: var(--border-radius-small);
    color: var(--main-color);
    font-size: 1rem;
    padding: 0.3rem 1.2rem;
}

.btn--print-menu {
    color: var(--attentive-color);
}

.card {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.printable-ctrls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn--save-template {
    border-radius: var(--border-radius-small);
    font-size: 0.8rem;
}

/********************/
/* DailyMenu_DnD.js */
/********************/

.printable {
    background-color: var(--main-bg-color__bright);
    background-image: url(assets/printable-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid var(--main-border-color__bright);
    box-shadow: var(--box-shadow-size1) var(--box-shadow-color__dark);
    margin: auto;
    padding: 8mm;
    height: 29.7cm;
    width: 21cm;
    /* size: A4; */
}

.printableInside {
    font-family: 'Handlee', sans-serif;
    height: 100%;
    padding-top: 12%;
    width: 100%;
}

.printableInside h2 {
    color: var(--printable-menu__headings);
    margin: 13px 0;
    text-align: center;
    text-transform: none;
}

.printableInside > div {
    padding: 5px 0;
}

.menu-category-heading {
    color: var(--printable-menu__headings);
    text-align: center;
}

/************************/
/* MenuItemAdd_Modal.js */
/************************/

.modal-form {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.ddl--menu-item-add,
.ddl--category {
    align-items: center;
    justify-content: flex-start;
    color: var(--main-txt-color__dark);
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.ddl--menu-item-add select {
    border: 1px solid var(--main-border-color__dark);
    padding: 0.4rem 1rem;
    width: 50%;
}

.ddl--menu-item-add option {
    font-size: 1.2rem;
}

.ddl--category option {
    font-size: 1.2rem;
}

/* RESPONSIVENESS */
/******************/

@media (max-width: 768px) {
    .top-panel {
        gap: 10px;
    }

    .top-panel-btns {
        gap: 10px;
        justify-content: flex-start;
    }
}

@media (max-width: 480px) {
    .top-panel-btns {
        flex-direction: column;
    }
}

@media (max-width: 360px) {
    .btn--toggle-view {
        font-size: 0.85rem;
    }

    .printable-ctrls {
        flex-direction: column-reverse;
    }
}

@media print {
    .printable {
        border: none;
        page-break-before: always;
    }
}