@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

:root {
    --attentive-color: rgb(255, 72, 0);
    --attentive-color__focus: rgb(231, 35, 0);
    --border-radius-small: 8px;
    --border-radius-medium: 20px;
    --box-shadow-color: rgba(0, 0, 0, 0.25);
    --ham-bars-size: 2.6rem;
    --main-bg-color__bright: white;
    --main-bg-color__dark: black;
    --main-bg-color__focus: #f9f5f3;
    --main-body-color__dark: #3f3f3f;
    --main-border-color__bright: #ddd;
    --main-border-color__pale: #d3c7c3;
    --main-border-color__dark: black;
    --main-color: rgb(40, 112, 88);
    --main-color__pale: rgb(204, 241, 225);
    --main-txt-color__bright: white;
    --main-txt-color__dark: black;
    --main-txt-color__pale: #d3c7c3;
    --nav-bg-color: #ddd;
    --overlay-bg-color: rgba(0, 0, 0, 0.8);
}
/* rgb(0, 97, 52) */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Noto Sans JP', sans-serif;
}

body {
    margin: auto;
    background-color: var(--main-body-color__dark);
    width: 60%;
}

main {
    background-color: var(--main-body-color__dark);
}

.hidden {
    display: none !important;
}

@media screen and (max-width: 1200px) {
    body {
        width: 80%;
    }
}

@media screen and (max-width: 1024px) {
    body {
        width: 100%;
    }
}

/* @media (max-width: 768px) {} */

@page {
    size: A4;
}

@media print {
    body {
        margin: auto;
        background-color: var(--main-bg-color__bright);
        width: 100%;
    }
}
