.add-item-window {
    background-color: var(--main-bg-color__bright);
    border-radius: 9px;
    box-shadow: 0 4rem 6rem var(--box-shadow-color);
    left: 50%;
    max-height: 70%;
    overflow-y: auto;
    padding: 1rem 1rem;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.5s;
    width: 50%;
    z-index: 100;
}

.add-item-window:hover .btn--close-modal {
    visibility: visible;
}

.btn--close-modal {
    background: none;
    border: none;
    color: var(--attentive-color);
    cursor: pointer;
    font-family: inherit;
    font-size: 2.5rem;
    position: absolute;
    right: 4px;
    top: 0;
    visibility: hidden;
}

.btn--close-modal:hover {
    color: var(--attentive-color__focus);
    font-weight: 600;
}

.btn--close-modal path {
    fill: var(--attentive-color);
    stroke: var(--attentive-color);
}

.btn--close-modal:hover path {
    fill: var(--attentive-color__focus);
    stroke: var(--attentive-color__focus);
}

.overlay {
    backdrop-filter: blur(4px);
    background-color: var(--overlay-bg-color);
    left: 0;
    height: 100%;
    position: fixed;
    top: 0;
    transition: all 0.5s;
    width: 100%;
    z-index: 10;
}






.add-item-form {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.inputs__grid-container {
    align-content: center;
    display: grid;
    grid-template-columns: repeat(4, [col] 1fr);
    grid-gap: 10px;
    justify-content: center;
}

.box-a {
    grid-column: 1 / span 2;
}

.box-b {
    grid-column: 3 / span 2;
}

.box-c {
    grid-column: 1 / span 3;
}

.box-d {
    grid-column: 4 / span 1;
}


.inputs__column {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.inputs__column button {
    justify-self: center;
    margin-top: 1rem;
}

.inputs__heading {
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.menu-item {
    display: flex;
    flex-direction: column;
    padding: 10px;
    position: relative;
}

.menu-item fieldset {
    border: 1px solid var(--main-border-color__dark);
    padding: 1.5rem 2rem;
}

.menu-item legend {
    background-color: var(--main-bg-color__bright);
    font-size: 1.2rem;
    font-weight: 700;
    left: 1rem;
    padding: 0 0.5rem;
    position: absolute;
    text-transform: uppercase;
    top: -0.2rem;
    transform: rotate(0deg);
}

.menu-item label {
    color: inherit;
    font-size: 1rem;
    font-weight: 600;
}

.menu-item input,
.menu-item textarea,
.menu-item select {
    border: 1px solid var(--main-border-color__bright);
    border-radius: 0.5rem;
    font-size: 1rem;
    padding: 0.8rem 1rem;
    transition: all 0.2s;
}

.menu-item textarea {
    border-radius: 0;
}

.menu-item input::placeholder,
.menu-item textarea::placeholder {
    color: var(--main-txt-color__pale);
}

.menu-item input:focus,
.menu-item textarea:focus {
    background-color: var(--main-bg-color__focus);
    border: 1px solid var(--main-color);
    outline: none;
}

.btn {
    align-items: center;
    background-color: var(--main-color);
    border: none;
    border-radius: 10rem;
    color: var(--main-txt-color__bright);
    cursor: pointer;
    display: flex;
    font-size: 1.5rem;
    font-weight: 600;
    justify-self: center;
    padding: 1rem 4rem;
    text-transform: uppercase;
    transition: all 0.2s;
}

.btn:hover {
    transform: scale(1.05);
}

.btn:focus {
    outline: none;
}

.btn > *:first-child {
    margin-right: 1rem;
}

@media (max-width: 360px) {
    .inputs__grid-container {
        display: block;
    }
}

@media (max-width: 768px) {
    .add-item-window {
        max-height: 80%;
        width: 100%;
    }
}

@media (min-width: 1024px) {
    .menu-item fieldset {
        display: flex;
        flex-direction: row;
    }
    
    .menu-item div {
        align-items: center;
        display: flex;
        flex-direction: row;
        margin-right: 2px;
    }
}

@media (pointer:none), (pointer:coarse) {
    .btn--close-modal {
        visibility: visible;
    }
}
