/************************/
/* ManageFood_Modal.js  */
/* ManageDrink_Modal.js */
/************************/

.add-item-form {
    align-items: center;
    display: flex;
    flex-direction: column;
}

/***************************/
/* InputMenuItemData.js    */
/* InputMenuItemOptions.js */
/***************************/

.inputs__column {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.inputs__heading {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}

.inputs__heading h3,
h3.inputs__heading {
    font-size: 1.5rem;
    font-weight: 700;
    margin-right: 0.5rem;
    text-transform: uppercase;
}

.inputs__grid-container {
    align-content: center;
    display: grid;
    grid-template-columns: repeat(4, [col] 1fr);
    grid-gap: 10px;
    justify-content: center;
}

/************************/
/* InputMenuItemData.js */
/************************/

.inputs__grid-container > div:first-child {
    grid-column: 1 / span 2;
}

.inputs__grid-container > div:nth-child(2) {
    grid-column: 3 / span 2;
}

.inputs__grid-container > div:nth-child(3) {
    grid-column: 1 / span 3;
}

.inputs__grid-container > div:last-child {
    grid-column: 4 / span 1;
}

.input-field {
    display: flex;
    flex-direction: column;
    padding: 10px;
    position: relative;
}

.input-field fieldset {
    border: 1px solid var(--main-border-color__dark);
    padding: 1.5rem 2rem;
}

.input-field legend {
    background-color: var(--main-bg-color__bright);
    font-size: 1.2rem;
    font-weight: 700;
    left: 1rem;
    padding: 0 0.5rem;
    position: absolute;
    text-transform: uppercase;
    top: -0.2rem;
    transform: rotate(0deg);
}

.input-field label {
    color: inherit;
    font-size: 1rem;
    font-weight: 600;
}

.input-field input,
.input-field textarea,
.input-field select {
    border: 1px solid var(--main-border-color__bright);
    border-radius: 0.5rem;
    font-size: 1rem;
    padding: 0.8rem 1rem;
    transition: all 0.2s;
}

.input-field textarea {
    border-radius: 0;
}

.input-field input::placeholder,
.input-field textarea::placeholder {
    color: var(--main-txt-color__pale);
}

.input-field input:focus,
.input-field textarea:focus {
    background-color: var(--main-bg-color__focus);
    border: 1px solid var(--main-color);
    outline: none;
}

/***************************/
/* InputMenuItemOptions.js */
/***************************/

.btn--add-option {
    background-color: var(--main-bg-color__bright);
    border: 1px solid var(--main-border-color__dark);
    border-radius: 0;
    color: var(--main-txt-color__dark);
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 2rem;
    padding: 0.6rem 0;
    text-transform: uppercase;
    transition: all 0.2s;
    width: 100%;
}

.btn--add-option:hover {
    border-color: var(--main-color);
    color: var(--main-color);
    transform: none;
    transition: transform .3s;
}

/******************************/
/* InputMenuItemOptionsBox.js */
/******************************/

.input-field:hover .btn--del-option {
    visibility: visible;
}

.btn--del-option {
    background: none;
    border: none;
    color: var(--attentive-color);
    cursor: pointer;
    font-family: inherit;
    font-size: 2.5rem;
    position: absolute;
    right: 4px;
    top: 0;
    visibility: hidden;
}

.btn--del-option:hover {
    color: var(--attentive-color__focus);
    font-weight: 600;
}

.btn--del-option path {
    fill: var(--attentive-color);
    stroke: var(--attentive-color);
}

.btn--del-option:hover path {
    fill: var(--attentive-color__focus);
    stroke: var(--attentive-color__focus);
}

/* RESPONSIVENESS */
/******************/

@media (max-width: 360px) {
    .inputs__grid-container {
        display: block;
    }
}

@media (max-width: 768px) {
    .add-item-window {
        max-height: 80%;
        width: 100%;
    }
}

@media (min-width: 1024px) {
    .input-field fieldset {
        display: flex;
        flex-direction: row;
    }
    
    .input-field div {
        align-items: center;
        display: flex;
        flex-direction: row;
        margin-right: 2px;
    }
}

@media (pointer:none), (pointer:coarse) {
    .btn--close-modal,
    .btn--del-option {
        visibility: visible;
    }
}
