/*****************/
/* ManageMenu.js */
/*****************/

.master-container {
    background-color: var(--main-color);
    border-radius: var(--border-radius-medium);
}

.top-panel h1 {
    color: var(--main-txt-color__bright);
}

.ddl--menu-item-type {
    align-items: center;
    justify-content: flex-end;
    color: var(--main-txt-color__bright);
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
}

.ddl--menu-item-type select {
    border: 1px solid var(--main-border-color__dark);
    border-radius: 0.5rem;
    font-size: 1rem;
    padding: 0.4rem 1rem;
    transition: all 0.2s;
    width: 30%;
}

.ddl--menu-item-type option {
    font-size: 1.2rem;
}

/***********************/
/* ManageMenuItems.js  */
/***********************/

.upper-panel {
    align-items: center;
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    text-align: center;
}

.upper-panel h2 {
    color: var(--main-color);
    grid-area: 1 / 1 / 1 / 3;
}

.ddl--category {
    grid-area: 2 / 1 / 2 / 1;
    justify-self: flex-start;
}

.ddl--category option {
    font-size: 1.2rem;
}

.btn--add-item {
    grid-area: 2 / 2 / 2 / 2;
    justify-self: flex-end;
}

/********************/
/* MenuItemsList.js */
/********************/

.item-list-container {
    border: 1px solid black;
    border-radius: var(--border-radius-small);
    margin-top: 7px;
    padding: 6px;
}

.item-list-container > h3 {
    justify-self: center;
    color: var(--main-txt-color__dark);
    padding: 6px 0;
    text-align: center;
    text-transform: uppercase;
}

.item-list-container__empty {
    border: none;
    border-radius: none;
}

.item-list {
    height: 60vh;
    overflow-y: auto;
}

/***************/
/* MenuItem.js */
/***************/

.menu-item {
    background-color: var(--main-bg-color__bright);
    border-radius: 4px;
    box-shadow: 0 2px 8px var(--box-shadow-color__dark);
    margin: 0.2rem 0;
    padding: 0.2rem;
    position: relative;
}

.menu-item:hover {
    background-color: var(--main-color__pale);
}

.menu-item fieldset {
    border-color: var(--main-color__pale);
    padding: 0.5rem;
}

.menu-item legend {
    color: var(--main-color);
    font-size: 1.2rem;
    text-transform: uppercase;
}

.menu-item:hover .btn--del-item {
    visibility: visible;
}

.menu-item:hover fieldset {
    border-color: var(--attentive-color);
}

.btn--del-item {
    border: none;
    color: var(--attentive-color);
    cursor: pointer;
    font-family: inherit;
    font-size: 2rem;
    visibility: hidden;
    position: absolute;
    right: 0.3rem;
    top: 0;
}

.btn--del-item:hover {
    font-weight: 600;
    color: var(--attentive-color__focus);
}

.btn--del-item path {
    fill: var(--attentive-color);
    stroke: var(--attentive-color);
}

.btn--del-item:hover path {
    fill: var(--attentive-color__focus);
    stroke: var(--attentive-color__focus);
}

/***************************/
/* ManageMenuItem_Modal.js */
/***************************/

.add-item-form {
    align-items: center;
    display: flex;
    flex-direction: column;
}

/**************************/
/* MenuItemOptionsForm.js */
/**************************/

.options-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 2rem;
    width: 100%;
}

.btn--add-option {
    background-color: var(--main-bg-color__focus);
    border: 1px solid var(--main-border-color__dark);
    border-radius: 0;
    color: var(--main-txt-color__dark);
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.6rem 0;
    text-transform: uppercase;
    transition: all 0.2s;
    width: 100%;
}

.btn--add-option:hover {
    border-color: var(--main-color);
    color: var(--main-color);
    transform: none;
    transition: transform .3s;
}

/***********************/
/* MenuItemDataForm.js */
/***********************/

.inputs__column {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.inputs__heading {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}

.inputs__heading h3,
h3.inputs__heading {
    font-size: 1.5rem;
    font-weight: 700;
    margin-right: 0.5rem;
    text-transform: uppercase;
}

.inputs__grid-container {
    align-content: center;
    display: grid;
    grid-template-columns: repeat(4, [col] 1fr);
    grid-gap: 10px;
    justify-content: center;
}

.inputs__grid-container > div:first-child {
    grid-column: 1 / span 2;
}

.inputs__grid-container > div:nth-child(2) {
    grid-column: 3 / span 2;
}

.inputs__grid-container > div:nth-child(3) {
    grid-column: 1 / span 3;
}

.inputs__grid-container > div:last-child {
    grid-column: 4 / span 1;
}

.inputs__grid-container > div {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}

/********************************/
/* MenuItemOptionsForm_Input.js */
/********************************/

.option-box {
    position: relative;
}

.option-box fieldset {
    border: 1px solid var(--main-border-color__pale);
    border-radius: var(--border-radius-medium);
    padding: 10px;
    
}

.option-box legend {
    background-color: var(--main-bg-color__bright);
    font-size: 1.2rem;
    font-weight: 700;
    left: 1rem;
    padding: 0 0.5rem;
    text-transform: uppercase;
    top: -0.2rem;
    transform: rotate(0deg);
}

.option-box:hover .btn--del-option {
    visibility: visible;
}

.option-box__inputs {
    display: flex;
    flex-direction: row;
}

.option-box__inputs > div {
    display: flex;
    flex-direction: row;
}

.btn--del-option {
    background: none;
    border: none;
    color: var(--attentive-color);
    cursor: pointer;
    font-family: inherit;
    font-size: 2.5rem;
    position: absolute;
    right: 4px;
    top: 0;
    visibility: hidden;
}

.btn--del-option:hover {
    color: var(--attentive-color__focus);
    font-weight: 600;
}

.btn--del-option path {
    fill: var(--attentive-color);
    stroke: var(--attentive-color);
}

.btn--del-option:hover path {
    fill: var(--attentive-color__focus);
    stroke: var(--attentive-color__focus);
}

/* RESPONSIVENESS */
/******************/

@media (max-width: 768px) {
    .menu-item {
        margin: 0.4rem 0;
    }
}

@media (max-width: 600px) {
    .option-box__inputs {
        flex-direction: column;
    }

    .option-box__inputs > div {
        flex-direction: row;
    }
}

@media (max-width: 480px) {
    .inputs__grid-container {
        display: block;
    }
}

@media (max-width: 360px) {
    .option-box__inputs > div {
        flex-direction: column;
    }
}

@media (min-width: 1024px) {
    .input-field fieldset {
        display: flex;
        flex-direction: row;
    }
    
    .input-field div {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-right: 2px;
    }
}

@media (pointer:none), (pointer:coarse) {
    .btn--close-modal,
    .btn--del-option,
    .btn--del-item {
        visibility: visible !important;
    }
}
