.nav-container nav {
    align-items: center;
    background-color: var(--main-color__pale);
    background: linear-gradient(
        180deg, 
        var(--main-body-color__dark) 5%, 
        var(--main-color__pale) 30%,
        var(--nav-bg-color) 50%, 
        var(--main-color__pale) 70%,
        var(--main-body-color__dark) 95%
    );
    display: flex;
    height: 10vh;
    margin-bottom: 10px;
    position: relative;
}

.nav-menu {
    align-items: stretch;
    display: flex;
    justify-content: flex-start;
}

.nav-link {
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.nav-link > a {
    color: var(--main-txt-color__dark);
    text-decoration: none;
}

.nav-link > a[class="active"] {
    color: var(--attentive-color) !important;
}

.nav-menu .nav-link {
    background-color: var(--main-bg-color__bright);
    border: 1px solid var(--main-border-color__dark);
    font-size: 1.2rem;
    display: flex;
    margin-left: 5px;
    padding: 4px;
    transition: transform .4s;
}

.nav-menu .nav-link:hover {
    border-color: var(--main-color);
    transform: scale(105%, 105%);
    transition: transform .3s;
}

.nav-menu .nav-link:hover a {
    color: var(--main-color);
}

.nav-menu__ham {
    background-color: var(--main-body-color__dark);
    border-radius: var(--border-radius-medium);
    box-sizing: border-box;
    display: none;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: var(--ham-bars-size);
    width: 80vw;
}

.nav-menu__ham a {
    color: var(--main-txt-color__bright);
}

.nav-menu__ham .nav-link:hover a {
    color: var(--main-color);
}

.nav-menu__ham .nav-link:hover {
    background-color: var(--main-bg-color__focus);
    border-radius: var(--border-radius-medium);
    font-weight: 600;
}

.ham-bars {
    color: var(--main-color);
    cursor: pointer;
    display: none;
    font-size: 2rem;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
}

.ham-bars svg {
    font-size: var(--ham-bars-size);
}

@media screen and (max-width: 768px) {
    .nav-menu {
        display: none;
    }

    .nav-menu__ham {
        display: flex;
    }

    .ham-bars {
        display: block;
    }
}

@media screen and (max-width: 350px) {
    .nav-link {
        font-size: 1.4rem;
    }
}