@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

:root {
    --attentive-color: rgb(119, 0, 0);
    --attentive-color__focus: rgb(190, 0, 0);
    --border-radius-medium: 20px;
    --box-shadow-color: rgba(0, 0, 0, 0.25);
    --ham-bars-size: 2rem;
    --main-bg-color__bright: white;
    --main-bg-color__dark: black;
    --main-bg-color__focus: #f9f5f3;
    --main-border-color__bright: #ddd;
    --main-border-color__dark: black;
    --main-border-color__focus: #f38e82;
    --main-color1: rgb(140, 0, 168);
    --main-color1__pale: rgb(228, 207, 231);
    --main-color2: rgb(168, 67, 0);
    --main-txt-color__bright: white;
    --main-txt-color__dark: black;
    --nav-bg-color: #ddd;
    --overlay-bg-color: rgba(0, 0, 0, 0.4);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Noto Sans JP', sans-serif;
}

body {
    margin: auto;
    background-color: #3f3f3f;
    width: 60%;
}

nav {
    align-items: center;
    background-color: white;
    display: flex;
    height: 10vh;
    margin-bottom: 10px;
}

.hidden {
    display: none !important;
}

@media screen and (max-width: 1200px) {
    body {
        width: 80%;
    }
}

@media screen and (max-width: 1024px) {
    body {
        width: 100%;
    }
}

/* @media (max-width: 768px) {} */